<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.z7dream.android_filemanager">

    <!-- 写入外部存储 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <activity
            android:name="com.z7dream.android_filemanager.mvp.ui.FileBaseActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.z7dream.android_filemanager.mvp.ui.FileManagerActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <activity
            android:name="com.z7dream.android_filemanager.mvp.ui.FileSearchActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>
